a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  padding-top: 10vh;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

#app > div {
  margin-bottom: 24px;
}
.red {
  color: red;
}

.blue {
  color: blue;
}

.image-div {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 20px auto;
}